body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;     
}
header img {
    border-radius: 50%;
    width: 150px;
    margin-top: 10px;
}
/* Estilos do Carrossel */
.carousel-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.book-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 2em;
    text-align: center;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Ajustes de layout para garantir que o conteúdo do carrossel seja responsivo */
.carousel-container h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.carousel-container p {
    font-size: 1em;
    margin-bottom: 1em;
}

.carousel-container a {
    font-size: 1em;
    color: #333;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 1em;
}
.language-selector img {
    width: 24px;
    margin: 0 5px;
    cursor: pointer;
}
nav {
    text-align: center;
    margin: 1em 0;
}
nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
}
section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}
.book-section {
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
}
.social-links a {
    margin: 0 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}

#Bio {
    width: 66%; /* Define que o parágrafo ocupará 66% do container */
    margin: 0 auto; /* Centraliza horizontalmente o parágrafo */
    font-size: 0.9em; /* Ajusta o tamanho da fonte para ser menor que o h1 */
    line-height: 1.5; /* Define o espaçamento entre linhas para melhorar a legibilidade */
    color: #333; /* (Opcional) Ajuste de cor para uma leitura mais suave */
}
